@CHARSET "UTF-8";

#game {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

#map {
    position: relative;
    padding-top: 600px;
    left: 50%;
    transform: translate(-50%, 0%);
}